
<p class="welcomepage">Wellcome To Users Page</p>
<div class="bg-image"></div>
<div class="userDetails">
    <div class="profileImg">
        <img src="{{UserData.profileImageUrl}}" alt="no images">
    </div>
    <p><span class="usersinfo">FirstName :</span>  {{UserData.firstName}}<p>
    <p><span class="usersinfo">LastName :</span> {{UserData.lastName}} <p>
    <p><span class="usersinfo">Mobile :</span> {{UserData.mobile}} <p>
    <p><span class="usersinfo">Designation :</span> {{UserData.designation}} <p>
</div>
