<div class="Container">
    <div class="userinfo">
        <img src="{{UserData.profileImageUrl}}" alt="">
        <p>{{UserData.firstName}}</p> &nbsp;&nbsp;
        <span>({{UserData.empId}} )</span>
    </div>
    <div class="employeList">
        <div class="main-userDetails">
            <div class="Profile">
                <p class="userslabel">Profile Image</p>
                <img src="{{UserData.profileImageUrl}}" alt="">
            </div>
            <div class="Employeee_Role">
                <div class="Role">
                    <p class="userslabel">Role</p>
                    <p>{{UserData.designation}}</p>
                </div>
                <div class="Team">
                    <p class="userslabel">Team</p>
                    <p>Angular Community</p>
                </div>
            </div>
            <div class="Employeee_Join">
                <div class="Jion">
                    <p class="userslabel">Joined On</p>
                    <p>{{UserData.joinedDate}}</p>
                </div>
                <div class="Team">
                    <p class="userslabel">Working from</p>
                    <p>Angular Community</p>
                </div>
            </div>
        </div>
        <div class="main-employeDetails">
            <div>
                <p class="userslabel">Employeee Details</p>
                <p>Emp ID : {{UserData.empId}}</p>
                <p>First Name : {{UserData.firstName}}</p>
                <p>Last Name : {{UserData.lastName}}</p>
                <p>Email : {{UserData.email}}</p>
                <p>Phone : {{UserData.mobile}}</p>
                <p>Role : {{UserData.designation}}</p>
            </div>
           
            <div>
                <p class="userslabel">Last LoggedIn Data</p>
                <p>Browser :</p>
                <p>Ip Address :</p>
                <p>Login Time Invalid Date :</p>
            </div>
            <div>
                <p class="userslabel">Stats</p>
                <div class="pieChart">
                    <canvas id="piechart">
                
                    </canvas>
                </div>
                    <p class="tickets">Total Tickets : {{userTickets.length}}</p>
               </div>
        </div>
    </div>
</div>

<app-table
[data]="userTickets"
[displayedColumns]="displayColumns"
 (updateData)="update($event)"

>
</app-table>

<ng-template #updateModel let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{modelHeader}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" [formGroup]="updateForm">
                    <input type="text" placeholder="description" class="form-control m-2" formControlName="description">
                    <input type="text" placeholder="comments" class="form-control m-2" formControlName="comments">
                    <select class="form-control m-2" formControlName="status">
                        <option value="" disabled selected class="hide">Select Status</option>
                        <option *ngFor="let status of userstatus" [value]="status">{{status}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="cancel(d)" >Cancel</button>
     
        <button class="btn btn-sm btn-primary" (click)="updateUser(d)" >Update ####</button>

    </div>
</ng-template>

