<div class="Main-Conatiner">
  <div class="wrapper">
    <div class="logo">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRrgJnM9FLGc_bijjNnpD5Fxu6wd6QEwjP2g&usqp=CAU"
        alt=""
      />
    </div>
    <div class="text-center mt-4 LoginRole">
      <p>
        <b>{{ RoleDetails }}</b> Details Form
      </p>
    </div>
    <form class="p-3 mt-3" [formGroup]="loginForm">
      <div class="form-field d-flex align-items-center">
        <input
          type="text"
          name="userName"
          id="userName"
          formControlName="userId"
          placeholder="UserId"
        />
      </div>
      <div class="form-field d-flex align-items-center">
        <input
          [type]="password"
          name="password"
          id="pwd"
          formControlName="password"
          (keyup.enter)="AdminLogin()"
          placeholder="Password"
        />
        <button>
          <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
          <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
        </button>
      </div>
      <p *ngIf="ErrorMsg" class="text-danger text-center">{{ ErrorMsg }}</p>
      <!-- <p class="btn btn-danger" *ngIf="loginForm.invalid && UserDataa">{{ErrorMsg}}@@@</p> -->
      <button class="LoginButton mt-3" type="button" (click)="AdminLogin()">
        {{ LoginBoolean ? "Login" : "Loading.." }}
      </button>
    </form>
    <div class="Navigate">
      <a href="javascript:void(0);" (click)="getNavigate()"
        >click Here To {{ navigateData }}</a
      >
    </div>
    <div class="timezone">
      <div class="countryTime">
        <p>{{ est }}</p>
        <p>EST</p>
      </div>
      <div class="countryTime">
        <p>{{ pstDate }}</p>
        <p>PST</p>
      </div>
      <div class="countryTime">
        <p>{{ cstDate }}</p>
        <p>CST</p>
      </div>
    </div>
  </div>
</div>
