.feedback-Container {
  // background-image: linear-gradient(red, yellow);
  // box-shadow: 0 0 5px 0;
  width: 40%;
  margin: 26px auto;
  border-radius: 5px;
  .sub-Container {
    padding: 5px 30px;
  }
}
