<div class="feedback-Container" *ngIf="path === 'feed-back'">
  <h3 class="fs-3">Hey {{ currentUser.firstName }} Have a great day!</h3>
  <div class="sub-Container">
    <p><span class="fw-medium"> Name:</span> {{ currentUser.firstName }}</p>
    <p><span class="fw-medium"> Mobile: </span> {{ currentUser.mobile }}</p>
    <p><span class="fw-medium"> Email: </span> {{ currentUser.email }}</p>
    <form action="" [formGroup]="feedBackForm">
      <div>
        <p class="m-0 fw-medium">Content:</p>
        <textarea
          class="form-control border-black"
          formControlName="content"
          name=""
          id=""
          cols="30"
          rows="2"
        ></textarea>
        <p
          class="text-danger"
          *ngIf="
            submitted && feedBackForm.controls?.['content']?.status == 'INVALID'
          "
        >
          Please Select an Issue Type
        </p>
      </div>
      <div class="mt-2">
        <span class="fw-medium">Issue Type:</span>
        <select
          class="form-select border-black"
          name=""
          id=""
          formControlName="SelectIssue"
        >
          <option value="">Select an Issue Type</option>
          <option [value]="issue" *ngFor="let issue of IssueType">
            {{ issue }}
          </option>
        </select>

        <p
          class="text-danger"
          *ngIf="
            submitted &&
            feedBackForm.controls?.['SelectIssue']?.status == 'INVALID'
          "
        >
          Please Select an Issue Type
        </p>
      </div>
      <div class="form-control mt-md-3 form-label">
        File:
        <input
          type="file"
          accept="image/*"
          multiple
          formControlName="file"
          (change)="SelectedImage($event)"
        />
      </div>
    </form>
    <button
      class="btn btn-info w-75 m-lg-2 p-2 text-md-center"
      (click)="SubmitFeedBack()"
    >
      Submit
    </button>
  </div>
</div>
<div *ngIf="path === 'feed-back-list'">
  <h1>Hello This Feed Back list</h1>
</div>
