
<div class="header-content d-flex align-items-center justify-content-between" *ngIf="userDetails">
    <h1 class="title">Resource One IT Solutions</h1>
   <ng-container>
    <div class="admin-info d-flex align-items-center">
        <div class="admin-status" *ngIf="isAdmin">
          <button class="btn btn-success d-flex align-items-center">
            <span title="Available"></span>
            Available
          </button>
        </div>
       <div class="user" *ngIf="!isAdmin">
        <button mat-button [matMenuTriggerFor]="Status" mat-flat-button color="primary">
          {{ SelectedStatus ? SelectedStatus : "Available" }} &#9660;
        </button>
        <mat-menu #Status>
          <button mat-menu-item (click)="SelectStatus(status)" *ngFor="let status of adminStatus" [ngClass]="status">
            {{ status }}
          </button>
          <button mat-menu-item [matMenuTriggerFor]="invertebrates">Break</button>
        </mat-menu>
  
        <mat-menu #invertebrates>
          <button (click)="SelectStatus(break)" mat-menu-item *ngFor="let break of Breaks">
            {{ break }}
          </button>
        </mat-menu>
        <span *ngIf="StartTimer">
          <span class="fw-bold text-bg-success p-2 m-1" [ngClass]="textColor ? 'text-bg-danger' : ''">{{ format(Minutes)
            }}:{{ format(Seconds) }}
          </span>
        </span>
       </div>
        <div class="admin-in-out">
          <button (click)="logout()" class="btn btn-danger">
            Logout
          </button>
        </div>
        <div class="admin-profile d-flex align-items-center">
          <img
            class="admin-pic"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvEqncZEwNmacOsxcOyUMD7z2JiZF4-Z6PVRBu2KZnlxcFU5SZipi_yd4aV0kzwJL17BI&usqp=CAU"
          />
          <h4 class="admin-name">Emmanuel Yadavalli Admin<span><i class="fa-solid fa-chevron-down"></i></span></h4>
        </div>
      </div>
   </ng-container>
  </div>

