.header-content {
  padding: 10px;
  align-items: center;

  .header-toggle-btn {
    display: none;
  }
  .title {
    margin: 0;
    font-weight: bold;
  }
  .title:hover {
    margin: 0;
    font-weight: bold;
    cursor: pointer;
  }
  .admin-info {
    gap: 16px;

    .admin-status {
      button {
        gap: 6px;

        span {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #00ff00;
        }
      }
    }
    .admin-profile:hover {
      gap: 8px;
      position: relative;
      cursor: pointer;
    }
    .admin-profile {
      gap: 8px;
      position: relative;

      .admin-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .admin-name {
        margin: 10px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;

        span {
          font-size: 12px;
          margin-left: 4px;
        }
      }

      .admin-profile-info {
        position: absolute;
        top: 50px;
        right: 0;
        background: #fff;
        color: #000;
        border-radius: 12px;
        z-index: 9;
        padding: 10px;
        width: fit-content;

        h4 {
          font-weight: 500;
          text-align: center;
          padding-bottom: 4px;
          border-bottom: 1px solid;
          margin-bottom: 12px;
        }

        ul {
          padding: 0;
          margin: 0;
          list-style-type: none;

          li {
            white-space: nowrap;
            margin-bottom: 6px;

            label {
              min-width: 100px;
              font-weight: 500;
            }
          }
        }
      }
      .admin-in-out {
        width: 50%;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: initial;
    position: relative;
    padding-left: 40px;

    .header-toggle-btn {
      display: block;
      position: absolute;
      padding: 0;
      border: none;
      background: transparent;
      left: 10px;
      top: 13px;
      cursor: pointer;

      &:focus-visible {
        outline: none;
      }

      span {
        font-size: 24px;
        color: #fff;
      }
    }

    .admin-info {
      justify-content: flex-end;
    }
  }
}
