<div class="wrapper">
  <p>forgotpassword works!</p>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Verify Mail</ng-template>

        <mat-form-field>
          <mat-label>user Id or Email</mat-label>

          <input
            matInput
            placeholder="Name"
            formControlName="userid"
            required
          />
        </mat-form-field>
        <div class="text-danger" *ngIf="errorMesg">{{ errorMesg }}</div>
        <br />
        <div>
          <button
            mat-button
            (click)="verifymail(stepper)"
            class="btn btn-primary"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Verify Otp</ng-template>

        <mat-form-field>
          <mat-label>Otp</mat-label>

          <input matInput placeholder="otp" formControlName="otp" required />
        </mat-form-field>
        <div class="text-danger" *ngIf="otpError">{{ otpError }}</div>

        <br />
        <div>
          <button
            mat-button
            matStepperNext
            class="btn btn-primary"
            (click)="verifyOtp(stepper)"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Update Password</ng-template>

      <form [formGroup]="passwordForm">
        <ng-template matStepLabel>Verify Otp</ng-template>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="new Password"
            formControlName="newpassword"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="confirm password"
            formControlName="confirmpassword"
            required
          />
        </mat-form-field>
        <div *ngIf="submitted">password not match</div>

        <div>
          <button
            mat-button
            class="btn btn-primary"
            (click)="updatePassword(stepper)"
          >
            Update Password
          </button>
          <button matStepperNext class="btn btn-danger" (click)="goback()">
            Go Back
          </button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
