<div class="wrapper">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Verify Mail</ng-template>

        <mat-form-field d-flex>
          <mat-label>User Id or Email</mat-label>

          <input
            matInput
            placeholder="Name"
            formControlName="userid"
            required
          />
        </mat-form-field>
        <div class="text-danger" *ngIf="errorMesg">{{ errorMesg }}</div>
        <br />
        <div>
          <button (click)="verifymail(stepper)" class="btn btn-primary">
            {{ isMail ? "Next" : "Loading.." }}
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Verify Otp</ng-template>

        <mat-form-field>
          <mat-label>Otp</mat-label>

          <input
            matInput
            placeholder="Enter Your Otp"
            formControlName="otp"
            required
          />
        </mat-form-field>
        <div class="text-danger" *ngIf="otpError">{{ otpError }}</div>

        <br />
        <div>
          <button
            matStepperNext
            class="btn btn-primary"
            (click)="verifyOtp(stepper)"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Update Password</ng-template>

      <form [formGroup]="passwordForm">
        <ng-template matStepLabel>Verify Otp</ng-template>
        <div class="d-flex">
          <mat-form-field>
            <input
              type="password"
              [type]="showpassword === true ? 'text' : 'password'"
              matInput
              placeholder="New Password"
              formControlName="newpassword"
              autocomplete="on"
              required
            />
          </mat-form-field>
          <span (click)="togglePassword()" *ngIf="showpassword">
            <i class="fa-regular fa-eye eye-one"></i
          ></span>
          <span (click)="togglePassword()" *ngIf="!showpassword">
            <i class="fa-regular fa-eye-slash eye-one"></i
          ></span>
        </div>
        <mat-form-field d-flex>
          <input
            type="password"
            [type]="showpassword === true ? 'text' : 'password'"
            matInput
            placeholder="Confirm Password"
            formControlName="confirmpassword"
            autocomplete="on"
            required
          />
        </mat-form-field>
        <span (click)="togglePassword()" *ngIf="showpassword">
          <i class="fa-regular fa-eye eye-two"></i
        ></span>
        <span (click)="togglePassword()" *ngIf="!showpassword">
          <i class="fa-regular fa-eye-slash eye-two"></i
        ></span>
        <div *ngIf="submitted">password not match</div>

        <div>
          <button class="btn btn-primary" (click)="updatePassword(stepper)">
            Update Password
          </button>
          <button matStepperNext class="btn btn-danger" (click)="goback()">
            Go Back
          </button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
