<div>
    <h1 class="m-2">Admin Page</h1>
    <div>
        <button class="btn btn-primary m-2" (click)="displayUsers=true">User List</button>
        <button class="btn btn-primary m-2" (click)="displayUsers=false">Client List</button>
        <button class="btn btn-primary m-2" (click)="creatTicket()">Create Ticket</button>
        <button class="btn btn-primary m-2" (click)="openUserModel()">Add User</button>
        <button class="btn btn-primary m-2" (click)="openClientModel()">Add Client</button>
    </div>
</div>
<app-table *ngIf="displayUsers"  [data]="userList" (editData)="editUser($event)" (userDetails)="openUserDetails($event)" [displayedColumns]="displayUserColumns"></app-table>
<app-table *ngIf="!displayUsers" [data]="clientData" (editData)="editClient($event)" [displayedColumns]="displayclientColumns"></app-table>

<ng-template #userModel let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{modelHeader}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" [formGroup]="userForm">
                    <input type="text" placeholder="first name" class="form-control m-2" formControlName="fname">
                    <input type="text" placeholder="last name" class="form-control m-2" formControlName="lname">
                    <input type="email" placeholder="email" class="form-control m-2" formControlName="email">
                    <input type="number" placeholder="phone number" class="form-control m-2" formControlName="phone">
                    <input type="date" placeholder="date of birth" class="form-control m-2" formControlName="dob">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="cancel(d)">Cancel</button>
        <button class="btn btn-sm btn-primary" (click)="addUser(d)" *ngIf="modelHeader==='Add New User'">Add
            User</button>
        <button class="btn btn-sm btn-primary" (click)="updateUser(d)"
            *ngIf="modelHeader==='Update User'">Update</button>

    </div>
</ng-template>

<ng-template #clientModel let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{modelHeader}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" [formGroup]="clientForm">
                    <input type="text" placeholder="first name" class="form-control m-2" formControlName="name">
                    <!-- <input type="text" placeholder="location" class="form-control m-2" formControlName="location"> -->
                    <select class="form-control m-2" formControlName="location">
                        <option value="" disabled selected class="hide">Select Your Location</option>
                        <option *ngFor="let city of cities" value="city">{{city}}</option>
                    </select>
                    <input type="email" placeholder="email" class="form-control m-2" formControlName="email">
                    <input type="number" placeholder="phone number" class="form-control m-2" formControlName="mobile">
                    <input type="text" placeholder="technologies" class="form-control m-2" formControlName="technologies">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="cancel(d)">Cancel</button>
        <button class="btn btn-sm btn-primary" (click)="newClient(d)" *ngIf="modelHeader==='Add New Client'">Add New Client</button>
        <button class="btn btn-sm btn-primary" (click)="updateClient(d)"
            *ngIf="modelHeader==='Update Client'">Update</button>
    </div>
</ng-template>
<ng-template #userDetailsModel let-d="dismiss">
    <div class="modal-header p-2 m-0">
        <h4 class="modal-title p-0 m-0">User Details</h4>
    </div>
    <div class="modal-body p-2 m-0">
        <div class="d-flex">
            <div>
                <img  [src]="userModelData.profileImageUrl">
            </div>
            <div>
                <h1>Name : {{userModelData.firstName}}</h1>
                <p>Email : {{userModelData.email}}</p>
                <p>Mobile : {{userModelData.mobile}}</p>
                <p>Dob : {{userModelData.dob}}</p>
                <p>Admin : {{userModelData.isAdmin}}</p>
                <p>designation : {{userModelData.designation}}</p>
                <p>employee Id : {{userModelData.empId}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="newClient(d)">Goto UserPage</button>
        <button class="btn btn-sm btn-danger" (click)="cancel(d)">Close</button>
    </div>
</ng-template>