.hide{
    display: none;
}
.pieChart {
    width: 280px;
}
.admin-content{
    width: 50%;
    justify-content: space-around;
}
.piechart-container{
    width: 50%;
    justify-content: space-around;
}
.progress{
    width: 200px;
}
.adminpic{
    width: 100px;
    height: 100px;
}
.admin-page{
    width: 100%;
    box-shadow: 0px 1px 4px 1px;
    margin: 5px;
}