<div class="d-flex main">
  <div class="search">
    <input
      class="form-control"
      type="text"
      [(ngModel)]="searchText"
      (input)="searchFilter()"
    />
  </div>
  <div>
    <mat-form-field>
      <mat-select
        name="countryString"
        [(ngModel)]="selectedStatus"
        (selectionChange)="filterByStatus($event.value)"
      >
        <mat-option *ngFor="let status of statusData" [value]="status">{{
          status
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select
        name="countryString"
        [(ngModel)]="seletedDate"
        (selectionChange)="filterByDate($event.value)"
      >
        <mat-option *ngFor="let status of dateData" [value]="status">{{
          status
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<app-table [data]="ticketsData" [tableColumns]="ticketColumns"></app-table>
