<h1 mat-dialog-title class="text-bg-warning">Create Group</h1>
<div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group" [formGroup]="createGroupForm">
        <input
          type="text"
          placeholder="Group Name"
          class="form-control m-2"
          formControlName="groupName"
          class="form-control form-check-inline m-1"
        />
        <p
          class="text-danger"
          *ngIf="
            submitted &&
            createGroupForm.controls?.['groupName']?.status == 'INVALID'
          "
        >
          Feild Required
        </p>
        <mat-form-field class="form-control m-1">
          <mat-label>Select Users</mat-label>
          <mat-select formControlName="userlist" multiple>
            <mat-option *ngFor="let user of data.UserListData" [value]="user">{{
              chartservice.getFullName(user)
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <p
          class="text-danger"
          *ngIf="
            submitted &&
            createGroupForm.controls?.['userlist']?.status == 'INVALID'
          "
        >
          Feild Required
        </p>
        <div>
          <textarea
            placeholder="description"
            formControlName="description"
            class="form-control m-1"
          ></textarea>
          <p
            class="text-danger"
            *ngIf="
              submitted &&
              createGroupForm.controls?.['description']?.status == 'INVALID'
            "
          >
            Feild Required
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-sm btn-danger" (click)="onNoClick()">Cancel</button>
  <button mat-button class="btn btn-primary" (click)="CreateGroup()">
    Create Group
  </button>
</div>
