<h1 mat-dialog-title>Create Group</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group" [formGroup]="createGroupForm">
        <input
          type="text"
          placeholder="Group Name"
          class="form-control m-2"
          formControlName="groupName"
        />
        <mat-form-field>
          <mat-label>Select Users</mat-label>
          <mat-select formControlName="userlist" multiple>
            <mat-option *ngFor="let user of data.UserListData" [value]="user">{{
              user.firstName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <textarea
            placeholder="description"
            formControlName="description"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-sm btn-danger" (click)="onNoClick()">Cancel</button>
  <button mat-button class="btn btn-primary" (click)="CreateGroup()">
    Create Group
  </button>
</div>
