.roomcount {
  position: absolute;
  height: 20px;
  width: 20px;
  background: green;
  border-radius: 20px;
  top: 10px;
  text-align: center;
}

.Dashboard {
  cursor: pointer;
}

.hide {
  display: none;
}

.ticketcount {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #6e00ff;
  border-radius: 20px;
  top: 10px;
}

.Breaketimer {
  box-shadow: 0 0 5px 0;
  background: #fff;
  border-radius: 3px;
  padding: 6px;
}

.TimeSkip {
  color: red;
}
.BreakeTime {
  background-color: #6e00ff;
  color: #fff;
}

