.navbar-btn-list {
  padding: 10px;

  button {
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
    margin-bottom: 4px;
    text-align: initial;
    font-weight: 500;
    color: #fff;

    .roomcount {
      background: #00ff00;
      border-radius: 50%;
      padding: 4px 8px;
      margin-left: 10px;
    }

    a {
      color: #fff;
    }

    &:hover {
      background: #fff;
      color: #000;

      a {
        color: #000;
      }
    }

    &.chat-btn {
    }

    &:nth-last-child(1) {
      margin: 0;
    }
  }
}
// .nav-bar {
//   // width: 250px;

//   .admin-profile {
//     text-align: center;
//     margin: 10px;
//     padding-bottom: 10px;
//     border-bottom: 2px solid #dedede;

//     .admin-pic {
//       position: relative;
//       width: fit-content;
//       margin: auto;

//       img {
//         width: 60px;
//         height: 60px;
//         border-radius: 50%;
//       }

//       span {
//         width: 15px;
//         height: 15px;
//         border-radius: 50%;
//         background-color: #00ff00;
//         display: block;
//         position: absolute;
//         top: 2px;
//         right: 2px;
//       }
//     }

//     .admin-name {
//       margin: 10px 0 4px 0;
//       font-size: 16px;
//       line-height: 22px;
//       font-weight: 500;
//     }

//     .admin-id,
//     .admin-role {
//       font-size: 12px;
//       line-height: 18px;
//       display: block;
//       font-weight: 500;
//       margin-bottom: 4px;
//     }
//   }
// }
// .navbar {
//   padding: 16px 10px;
//   gap: 10px;
//   .bar{
//     color : blue;
//   }

//   .navbar-toggler {
//     border: none;
//     display: none;
//     &:focus,
//     &:focus-visible {
//       box-shadow: none;
//     }
//   }
//   .buttons-list {
//     gap: 8px;
//     .chat-btn {
//       position: relative;
//       margin-right: 10px;
//       .roomcount {
//         top: -10px;
//         right: -10px;
//       }
//     }
//   }
// }

// @media (max-width: 1024px) {
//   .navbar {
//     justify-content: initial;
//     position: relative;
//     .navbar-toggler {
//       display: block;
//     }

//     .inbar ~ div {
//       display: block !important;
//     }

//     .buttons-list {
//       display: none !important;
//       position: absolute;
//       flex-direction: column;
//       left: 0;
//       gap: 0;
//       top: 62px;
//       width: 250px;admin-name
//       left: 0;
//       background: #bcbdd3;
//       .chat-btn {
//         margin: 0;
//       }
//       button {
//         width: 100%;
//         margin: 0;
//         border-radius: 0;
//         border-bottom: 1px solid;
//       }
//     }
//   }
// }

// .roomcount {
//   position: absolute;
//   height: 20px;
//   width: 20px;
//   background: green;
//   border-radius: 20px;
//   // top: 10px;
//   text-align: center;
// }

// .Dashboard {
//   cursor: pointer;
// }

// .hide {
//   display: none;
// }

// .requestcount {
//   position: absolute;
//   height: 20px;
//   width: 20px;
//   background: green;
//   border-radius: 20px;
//   top: 10px;
//   text-align: center;
// }

// .Offline {
//   &::ng-deep {
//     > span {
//       position: relative;

//       &::before {
//         content: "";
//         content: "";
//         width: 12px;
//         height: 12px;
//         border-radius: 50%;
//         background-color: red;
//         position: absolute;
//         top: 20%;
//         left: -28%;
//       }
//     }
//   }
// }
// .Available {
//   &::ng-deep {
//     > span {
//       position: relative;
//       &::before {
//         content: "";
//         position: absolute;
//         cursor: pointer;
//         width: 12px;
//         height: 12px;
//         background: green;
//         border-radius: 50%;
//         top: 20%;
//         left: -28%;
//       }
//     }
//   }
// }
// .OnTicket {
//   &::ng-deep {
//     > span {
//       position: relative;
//       &::before {
//         content: "";
//         position: absolute;
//         cursor: pointer;
//         height: 12px;
//         width: 12px;
//         background: blue;
//         border-radius: 50%;
//         top: 20%;
//         left: -22%;
//       }
//     }
//   }
// }
// .Sleep {
//   &::ng-deep {
//     > span {
//       position: relative;
//       &::before {
//         content: "";
//         position: absolute;
//         cursor: pointer;
//         width: 12px;
//         height: 12px;
//         background: rgb(128, 128, 129);
//         border-radius: 50%;
//         top: 20%;
//         left: -28%;
//       }
//     }
//   }
// }
// // .Available {
// //   cursor: pointer;
// //   height: 14px;
// //   width: 15px;
// //   background: green;
// //   border-radius: 50%;
// // }

// // .OnTicket {
// //   cursor: pointer;
// //   height: 14px;
// //   width: 15px;
// //   background: blue;
// //   border-radius: 50%;
// // }

// // .Sleep {
// //   cursor: pointer;
// //   height: 14px;
// //   width: 15px;
// //   background: rgb(128, 128, 129);
// //   border-radius: 50%;
// // }
