<table mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }}</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf = "col !== 'profileImageUrl'">
            {{ element[col] }}
        </span>
        <span *ngIf = "col=='action'">
            <button mat-raised-button color="primary" (click)="edit(element)">Edit</button>
            <button mat-raised-button color="warn" (click)="Delete(element)">Delete</button>
        </span>
        <span *ngIf = "col=='profileImageUrl'" (click)="openUserDetails(element)">
            <img [src]=" element[col]"  class="profileImage" />
        </span>
       </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>