.logout-button {
  margin-top: 10px;
  display: flex;
  margin-right: 23px;
  justify-content: flex-end;
}

.drop {
  display: flex;
  justify-content: flex-end;
  margin: 14px 10px;
}

.Container {
  width: 80%;
  margin: 10px auto;
  box-shadow: 0 0 5px 0px;
  border-radius: 6px;

  .userinfo {
    position: relative;
    display: flex;
    width: 50%;
    align-items: center;
    text-align: center;
    margin: 10px auto;

    .Offline {
      cursor: pointer;
      height: 14px;
      width: 15px;
      background: red;
      border-radius: 50%;
    }

    .Break {
      cursor: pointer;
      height: 14px;
      width: 15px;
      background: orange;
      border-radius: 50%;
    }

    .Available {
      cursor: pointer;
      height: 14px;
      width: 15px;
      background: green;
      border-radius: 50%;
    }

    .OnTicket {
      cursor: pointer;
      height: 14px;
      width: 15px;
      background: blue;
      border-radius: 50%;
    }

    .Sleep {
      cursor: pointer;
      height: 14px;
      width: 15px;
      background: rgb(128, 128, 129);
      border-radius: 50%;
    }

    img {
      width: 77px;
      height: 69px;
      border: 1px solid;
      border-radius: 50%;
      margin: 9px 23px 0 0;
    }

    p {
      font-size: 29px;
      margin: 15px 0 0 0;
    }

    span {
      font-size: 14px;
      margin: 19px 0 0 0;
    }
  }

  .employeList {
    margin: 33px 0 0 0;
  }

  .main-employeDetails {
    display: flex;
    justify-content: space-around;
    margin-top: 22px;

    .userslabel {
      font-weight: 500;
      text-decoration: underline;
    }

    .requestchat {
      width: 194px;
      margin-top: 3px;
      height: 100px;
      color: red;
    }

    .pieChart {
      width: 280px;
    }

    .tickets {
      text-align: center;
      font-size: 16px;
      margin: 5px 0;
    }
  }
}

.timezone {
  align-items: center;
  display: flex;
  gap: 14px;
  text-align: center;
  justify-content: center;

  .countryTime {
    width: 91px;
    // border: 1px solid;
    padding: 10px;

    span {
      font-weight: bold;
    }

    height: 81px;
    border-radius: 50%;
    box-shadow:
      inset 8px 8px 8px #cbced1,
      inset -8px -8px 8px #e7cfcf;

    p {
      margin: 9px;
      font-weight: 550;

      span {
        display: block;
      }
    }
  }
}

.chart-legend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .grid-item {
    text-align: center;

    span {
      font-size: 20px;
    }
  }

  .grid-item:nth-child(5) {
    grid-column: span 2;
  }
}
