<div class="Container" *ngIf="currentUser">
  <div class="userinfo">
    <img
      *ngIf="currentUser.profileImageUrl"
      src="{{ currentUser.profileImageUrl }}"
      alt=""
    />
    <img
      *ngIf="!currentUser.profileImageUrl"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvEqncZEwNmacOsxcOyUMD7z2JiZF4-Z6PVRBu2KZnlxcFU5SZipi_yd4aV0kzwJL17BI&usqp=CAU"
      alt=""
    />
    <p>{{ currentUser.firstName }}</p>
    &nbsp;&nbsp;
    <span>({{ currentUser.userId }} )</span>
    <span [ngClass]="currentUser.status"></span>&nbsp;
    <span class="OnTicket" *ngIf="currentUser.status == 'On Ticket'"></span>
  </div>
  <div class="employeList">
    <div class="main-employeDetails">
      <div>
        <p class="userslabel">Employeee Details</p>
        <p>Emp ID : {{ currentUser.empId }}</p>
        <p>Employe Name : {{ chatservice.getFullName(currentUser) }}</p>
        <p>Email : {{ currentUser.email }}</p>
        <p>Phone : {{ currentUser.mobile }}</p>
        <p>Role : {{ currentUser.designation }}</p>
        <p>Status :{{ currentUser.status }}</p>
        <p>Gender :{{ currentUser.gender }}</p>
        <div class="logintime" *ngIf="loginTiming?.length">
          <h2>Login Time</h2>
          <div *ngFor="let logintime of loginTiming">
            <p>
              {{ logintime.date }} :
              <span *ngFor="let time of logintime.loginTime">
                {{ time.inTime }} - login :{{
                  time.outTime ? time.outTime : "***"
                }}
                - logout</span
              >
            </p>
          </div>
        </div>
        <div class="status" *ngIf="breakTimes">
          <h2>Break Time</h2>
          <p *ngFor="let status of breakTimes.status">
            <span *ngIf="status.type === 'END'"
              >Start :{{ status.startTime }} - End :{{ status.endTime }}</span
            >
          </p>
        </div>
        <div>
          <button
            class="btn btn-info"
            (click)="requestChat()"
            *ngIf="!isAdminView"
          >
            Request Chat with User
          </button>
        </div>
        <div class="requestchat" *ngIf="requestchat">
          <mat-form-field>
            <mat-select
              placeholder="Select user"
              (selectionChange)="selectuser($event.value)"
            >
              <mat-option [value]="user" *ngFor="let user of userList">{{
                user.firstName
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button
            *ngIf="requestchat"
            class="btn btn-warning admin"
            (click)="sendadmin()"
          >
            send Admin
          </button>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-around">
        <div>
          <p class="userslabel">Stats</p>
          <div class="pieChart">
            <canvas id="piechartdemo"> </canvas>
          </div>
          <p class="tickets">Total Tickets : {{ userTickets.length }}</p>
        </div>
        <div class="timezone d-flex">
          <div class="countryTime">
            <span>EST</span>
            <p>{{ est }}</p>
          </div>
          <div class="countryTime">
            <span>PST</span>
            <p>{{ pstDate }}</p>
          </div>
          <div class="countryTime">
            <span>CST</span>
            <p>{{ cstDate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-table
  [data]="userTickets"
  [tableColumns]="ticketColumns"
  (firstBtnClick)="update($event)"
  (secondBtnClick)="routeToTickets($event)"
>
</app-table>

<ng-template #updateModel let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ modelHeader }}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" [formGroup]="updateForm">
          <h3 class="fw-medium">
            Client Name : {{ clientDetails.client.name }}
          </h3>
          <label for="">Description</label>
          <input
            type="text"
            placeholder="description"
            class="form-control m-2"
            formControlName="description"
          />
          <label for="">Comments</label>
          <textarea
            class="comments"
            cols="65"
            rows="5"
            formControlName="comments"
          ></textarea>
          <select class="form-control m-2" formControlName="status">
            <option value="" disabled selected class="hide">
              Select Status
            </option>
            <option *ngFor="let status of userstatus" [value]="status">
              {{ status }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" (click)="cancel(d)">Cancel</button>
    <button class="btn btn-sm btn-primary" (click)="updateUser(d)">
      Update
    </button>
  </div>
</ng-template>
