.logout-button {
  margin-top: 10px;
  display: flex;
  margin-right: 23px;
  justify-content: flex-end;
}

.drop {
  display: flex;
  justify-content: flex-end;
  margin: 14px 10px;
}

.userdashinfo {
  // width: 80%;
  max-width: 1024px;
  margin: 10px auto;
  // box-shadow: 0 0 5px 0px;
  // border-radius: 6px;

  .userinfo {
    // position: relative;
    // width: 50%;
    // text-align: center;
    // margin: 10px auto;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background: #dedede;
    border-bottom: 5px solid #00ffff;
    padding: 20px 10px;

    .userstatus {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      cursor: pointer;

      &.Offline {
        // cursor: pointer;
        // height: 14px;
        // width: 15px;
        background: red;
        // border-radius: 50%;
      }

      &.Sleep {
        cursor: pointer;
        height: 14px;
        width: 15px;
        background: rgb(128, 128, 129);
        border-radius: 50%;
      }
  
      &.Break {
        // cursor: pointer;
        // height: 14px;
        // width: 15px;
        background: orange;
        // border-radius: 50%;
      }
  
      &.Available {
        // cursor: pointer;
        // height: 14px;
        // width: 15px;
        background: green;
        // border-radius: 50%;
      }
    }

    .OnTicket {
      cursor: pointer;
      height: 15px;
      width: 15px;
      background: blue;
      border-radius: 50%;
    }

    img {
      // width: 77px;
      // height: 69px;
      // border: 1px solid;
      // border-radius: 50%;
      // margin: 9px 23px 0 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .userName {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    .userId {
      font-size: 14px;
      // margin: 19px 0 0 0;
      font-weight: 500;
    }
  }

  .employeList {
    // margin: 33px 0 0 0;
    padding: 20px;

    .employeDetails {
      gap: 20px;

      .employeInfo {
        width: 40%;

        p {
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 8px;
          &:nth-last-child(1) {
            margin: 0;
          }

          &.userslabel {
            margin-bottom: 16px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            text-decoration: underline;
          }

          label {
            min-width: 120px;
            text-align: right;
            font-weight: 500;
          }
        }
      }
      .employeTimeinfo {
        width: 60%;
        gap: 20px;

        .loginTime {
          margin-bottom: 20px;
        }
        h2 {
          margin-bottom: 16px;
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
          text-decoration: underline;
        }
        p {
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 8px;
          &:nth-last-child(1) {
            margin: 0;
          }
        }
      }
    }
    .employeTicket {
      padding: 20px;
      .pieChart {
        > h2,
        > p {
            margin-bottom: 16px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            text-decoration: underline;
            text-align: center;
        }
        app-pie-chart {
          ::ng-deep .chart-container {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            gap: 20px;
            .chart-legend {
              display: flex;
              flex-direction: column;
              gap: 6px;
              .grid-item {
                text-align: initial;
              }
            }
          }
        }
      }
      .employeBtn {
        margin: 20px 0;
      }
    }
  }

  .main-employeDetails {
    display: flex;
    justify-content: space-around;
    margin-top: 22px;

    .userslabel {
      font-weight: 500;
      text-decoration: underline;
    }

    .requestchat {
      width: 194px;
      margin-top: 3px;
      height: 100px;
      color: red;
    }

    .pieChart {
      width: 280px;
    }

    .tickets {
      text-align: center;
      font-size: 16px;
      margin: 5px 0;
    }
  }
}

.timezone {
  align-items: center;
  display: flex;
  gap: 14px;
  text-align: center;
  justify-content: center;

  .countryTime {
    width: 91px;
    // border: 1px solid;
    padding: 10px;

    span {
      font-weight: bold;
    }

    height: 81px;
    border-radius: 50%;
    box-shadow:
      inset 8px 8px 8px #cbced1,
      inset -8px -8px 8px #e7cfcf;

    p {
      margin: 9px;
      font-weight: 550;

      span {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .userdashinfo {
    .employeList {
      .employeDetails {
        flex-direction: column;
        .employeInfo,
        .employeTimeinfo {
          width: 100%;
        }
      }
    }
  }

}
