<div class="Container" *ngIf="currentUser">
  <div class="userinfo">
    <img
      *ngIf="currentUser.profileImageUrl"
      src="{{ url }}/profile-images/{{ currentUser.profileImageUrl }}"
      crossorigin="anonymous"
      alt=""
    />
    <img
      *ngIf="!currentUser.profileImageUrl"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvEqncZEwNmacOsxcOyUMD7z2JiZF4-Z6PVRBu2KZnlxcFU5SZipi_yd4aV0kzwJL17BI&usqp=CAU"
      alt=""
    />
    <p>{{ chatservice.getFullName(currentUser) }}</p>
    &nbsp;&nbsp;
    <span>({{ currentUser.userId }} )</span>
    <span
      matTooltip="{{ currentUser.status }}"
      aria-label="Displays a tooltip"
      [ngClass]="currentUser.status"
    ></span
    >&nbsp;
    <span
      matTooltip="OnTicket"
      class="OnTicket"
      *ngIf="currentUser.status == 'On Ticket'"
    ></span>
  </div>
  <div class="employeList">
    <div class="main-employeDetails">
      <div>
        <p class="userslabel">Employeee Details</p>
        <p>Emp ID : {{ currentUser.empId }}</p>
        <p>Employe Name : {{ chatservice.getFullName(currentUser) }}</p>
        <p>Email : {{ currentUser.email }}</p>
        <p>Phone : {{ currentUser.mobile }}</p>
        <p>Role : {{ currentUser.designation }}</p>
        <p>Status :{{ currentUser.status }}</p>
        <p>Gender :{{ currentUser.gender }}</p>
        <div class="logintime" *ngIf="loginTiming?.length">
          <h2>Login Time</h2>
          <div *ngFor="let logintime of loginTiming">
            <p>
              {{ logintime.date }} :
              <span *ngFor="let time of logintime.loginTime">
                {{ time.inTime }} - login :{{
                  time.outTime ? time.outTime : "***"
                }}
                - logout</span
              >
            </p>
          </div>
        </div>
        <div class="status" *ngIf="breakTimes">
          <h2>Break Time</h2>
          <p *ngFor="let status of breakTimes.status">
            <span *ngIf="status.type === 'END'"
              >Start :{{ status.startTime | date: "dd/MM/yyyy hh:mm a" }} - End
              :{{ status.endTime | date: "dd/MM/yyyy hh:mm a" }}</span
            >
          </p>
        </div>
        <div class="d-flex">
          <button
            class="btn btn-info"
            (click)="requestChat()"
            *ngIf="!isAdminView"
          >
            Request Chat with User
          </button>
        </div>
        <div class="requestchat" *ngIf="requestchat">
          <mat-form-field>
            <mat-select
              placeholder="Select user"
              (selectionChange)="selectuser($event.value)"
            >
              <mat-option [value]="user" *ngFor="let user of userList">{{
                chatservice.getFullName(user)
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button
            *ngIf="requestchat"
            class="btn btn-warning admin"
            (click)="sendadmin()"
          >
            send Admin
          </button>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-around">
        <div>
          <p class="userslabel">Stats</p>
          <div class="pieChart">
            <canvas id="piechartdemo"> </canvas>
          </div>
          <p class="tickets">Total Tickets : {{ userTickets.length }}</p>
        </div>
        <div>
          <button class="btn btn-info ms-2">
            <a [routerLink]="['./user-tickets']" class="text-decoration-none"
              >Today Tickets</a
            >
          </button>
          <button class="btn btn-info m-2">
            <!-- Helped Tickets -->
            <a [routerLink]="['./helped-tickets']" class="text-decoration-none"
              >Helped Tickets</a
            >
          </button>
        </div>
        <div class="timezone d-flex">
          <div class="countryTime">
            <span>PST</span>
            <p>{{ pstDate }}</p>
          </div>
          <div class="countryTime">
            <span>CST</span>
            <p>{{ cstDate }}</p>
          </div>
          <div class="countryTime">
            <span>EST</span>
            <p>{{ est }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
