h1 {
  text-align: center;
}

.User-ViewRequest {
  display: flex;
  margin-top: 17px;
  justify-content: space-around;

  .User-ChatRequest {
    width: 33%;
    box-shadow: 0 0 5px;
    border-radius: 7px;
    // margin: 0 0 0 21px;
    h1 {
      text-align: center;
      padding: 6px 0;
      text-decoration: underline;
    }
  }

  .User-TicketRequest {
    box-shadow: 0 0 5px;
    border-radius: 7px;
    width: 33%;
    // margin: 0 12px 0 16px;
    h1 {
      text-align: center;
      padding: 6px 0;
      text-decoration: underline;
    }
  }
  .User-Messages {
    // border: 3px solid red;
    // display: flex;
    width: 33%;
    box-shadow: 0 0 5px;
    border-radius: 7px;
    // margin: 0 12px 0 16px;
    h1 {
      text-align: center;
      padding: 6px 0;
      text-decoration: underline;
    }
    // .message{
    //     display: flex;
    //     background-origin: 3px solid red;
    // }
  }
}

ol {
  margin: 10px;
  li {
    border-bottom: 1px solid darkgray;
    div {
      display: block;
      justify-content: space-between;
      align-items: center;
      .isPending {
        margin: 6px 0;
      }

      p {
        margin: 0;
      }

      span {
        margin: 0 36px 0 0;
      }
    }
  }
}
