<div>
  <h1 class="text-center">Admin Page</h1>
  <div class="d-flex adminMain">
    <div class="d-flex admin-content">
      <div class="admin-page">
        <div class="d-flex justify-content-center">
          <img
            *ngIf="adminDetails.profileImageUrl"
            class="adminpic"
            src="{{ adminDetails.profileImageUrl }}"
          />
          <img
            *ngIf="!adminDetails.profileImageUrl"
            class="adminpic"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvEqncZEwNmacOsxcOyUMD7z2JiZF4-Z6PVRBu2KZnlxcFU5SZipi_yd4aV0kzwJL17BI&usqp=CAU"
          />
          <div class="mt-5 mb-5">
            <h1 class="m-0 d-flex gap-3">
              {{ chatservice.getFullName(adminDetails)
              }}<span class="online"></span>
            </h1>
            <p>{{ adminDetails.designation }}</p>
          </div>
        </div>
        <div class="d-flex justify-content-around">
          <div>
            <p class="fs-6 text-decoration-underline">Admin Details</p>
            <p>
              <span class="usersDetails">Admin Name :</span>
              {{ chatservice.getFullName(adminDetails) }}
            </p>
            <p>
              <span class="usersDetails">Email : </span>{{ adminDetails.email }}
            </p>
            <p>
              <span class="usersDetails">Mobile : </span
              >{{ adminDetails.mobile }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex piechart-container">
      <div class="pieChart">
        <div class="chart-legend">
          <div
            class="grid-item"
            *ngFor="let label of pieChartLabels; let i = index"
          >
            <span [style.color]="pieChartColors[i]">&#9632;</span>
            {{ label }}: {{ pieChartData[i] }}
          </div>
        </div>
        <canvas id="pieChart"> </canvas>
        <p>Total Tickets : {{ ticketData.length }}</p>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="piechartRange">
      <h3 class="fw-bold">Users status</h3>
      <canvas id="Userpiechart"></canvas>
    </div>
    <div>
      <div>
        <button class="btn btn-primary m-2 sample" [routerLink]="['user-list']">
          User List
        </button>
        <button class="btn btn-primary m-2" [routerLink]="['client-list']">
          Client List
        </button>
      </div>
      <div>
        <button class="btn btn-primary m-2" [routerLink]="['today-tickets']">
          Today Tickets
        </button>
        <button class="btn btn-info m-2" (click)="sendMessageToAll()">
          Send Message toAll
        </button>
      </div>
    </div>
  </div>
</div>

<!-- requestTicket modal -->
<ng-template #requestTicketmodal let-d="dismiss">
  <div class="modal-header p-2 m-0"></div>
  <div class="modal-body m-2">
    <form [formGroup]="requestticketForm">
      <label class="ms-2">Request All</label>
      <textarea
        class="form-control m-2"
        placeholder="description"
        formControlName="request"
      ></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" (click)="adminCancel(d)">
      Cancel
    </button>
    <button class="btn btn-sm btn-primary" (click)="adminMessage(d)">
      Adminsend
    </button>
  </div>
</ng-template>
