<div>
  <h1 class="text-center">Admin Page</h1>
  <div class="d-flex adminMain">
    <div class="d-flex admin-content">
      <div class="admin-page">
        <div class="d-flex justify-content-center">
          <img *ngIf="adminDetails.profileImageUrl" class="adminpic" src="{{ adminDetails.profileImageUrl }}" />
          <img *ngIf="!adminDetails.profileImageUrl" class="adminpic"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvEqncZEwNmacOsxcOyUMD7z2JiZF4-Z6PVRBu2KZnlxcFU5SZipi_yd4aV0kzwJL17BI&usqp=CAU" />
          <div class="mt-5 mb-5">
            <h1 class="m-0 d-flex gap-3">{{ chatservice.getFullName(adminDetails) }}<span class="online"></span>
            </h1>
            <p>{{ adminDetails.designation }}</p>
          </div>
        </div>
        <div class="d-flex justify-content-around">
          <div>
            <p class="fs-6 text-decoration-underline">Admin Details</p>
            <p><span class="usersDetails">Admin Name :</span> {{ chatservice.getFullName(adminDetails) }}</p>
            <p><span class="usersDetails">Email : </span>{{ adminDetails.email }}</p>
            <p><span class="usersDetails">Mobile : </span>{{ adminDetails.mobile }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex piechart-container">
      <div class="pieChart">
        <div class="chart-legend">
          <div class="grid-item" *ngFor="let label of pieChartLabels; let i = index">
            <span [style.color]="pieChartColors[i]">&#9632;</span>
            {{ label }}: {{ pieChartData[i] }}
          </div>
        </div>
        <canvas id="pieChart"> </canvas>
        <p>Total Tickets : {{ ticketData.length }}</p>
      </div>
    </div>
  </div>
  <div class="piechartRange">
    <h3 class="fw-bold">Users status</h3>
    <canvas id="Userpiechart"></canvas>

  </div>
  <div>
    <button class="btn btn-primary m-2 sample" [routerLink]="['user-list']">
  User List
</button>
    <button class="btn btn-primary m-2" [routerLink]="['client-list']">
  Client List
</button>
    <button class="btn btn-primary m-2" [routerLink]="['today-tickets']">
      Tickets
    </button>
    <button class="btn btn-primary m-2" (click)="OpenTicketModel()">
      Create Ticket
    </button>
    <button class="btn btn-primary m-2" (click)="openUserModel()">
      Add User
    </button>
    <button class="btn btn-primary m-2" (click)="openClientModel()">
      Add Client
    </button>
    <button class="btn btn-info m-2" (click)="sendMessageToAll()">
      Send Message toAll
    </button>
  </div>
</div>

<!-- UserModel -->
<ng-template #userModel let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{ modelHeader }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" [formGroup]="userForm">
                    <label class="ms-2">First Name</label>
                    <input type="text" placeholder="First Name" class="form-control m-2" formControlName="fname" />
                    <label class="ms-2">Last Name</label>
                    <input type="text" placeholder="Last Name" class="form-control m-2" formControlName="lname" />
                    <label class="ms-2">Email</label>
                    <input type="email" placeholder="Email" class="form-control m-2" formControlName="email" />
                    <label class="ms-2">Phone Number</label>
                    <input type="text" placeholder="Phone Number" class="form-control m-2" formControlName="phone" />
                    <div *ngIf="addNewUser">
                        <label class="ms-2">Join Date</label>
                        <input type="date" placeholder="Join Date" class="form-control m-2"
                            formControlName="joiningDate" />
                        <label class="ms-2">Profile Image</label>
                        <input type="file" class="form-control m-2" formControlName="profileImageUrl" />
                        <select class="form-control m-2" formControlName="gender"
                            *ngIf="modelHeader === 'Add New User'">
                            <option [value]="selectLocation" disabled selected class="hide">
                                Select Gender
                            </option>
                            <option *ngFor="let gender of genders" [value]="gender">
                                {{ gender }}
                            </option>
                        </select>

                        <label class="ms-2">Address</label>
                        <textarea formControlName="address" class="form-control m-2"
                            placeholder="Enter Your Address"></textarea>
                    </div>
                    <label class="ms-2">Date Of Birth</label>
                    <input type="date" class="form-control m-2" formControlName="dob" />
                    <span *ngIf="modelHeader === 'Add New User'">
                        <input type="checkbox" formControlName="isAdmin" checked="false" />
                        <label class="ms-2">isAdmin</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="cancel(d)">Cancel</button>
        <button class="btn btn-sm btn-primary" (click)="addUser(d)" *ngIf="modelHeader === 'Add New User'">
        Add User
      </button>
        <button class="btn btn-sm btn-primary" (click)="updateUser(d)" *ngIf="modelHeader === 'Update User'">
            Update
        </button>
    </div>
</ng-template>
<!--Ticket Model-->

<ng-template #ticketModel let-d="dismiss">
  <div class="modal-header p-2 m-0">
    <h4 class="modal-title p-0 m-0">Creat Ticket</h4>
  </div>
  <div class="modal-body m-2">
    <form [formGroup]="TicketCreationForm">
      <label class="ms-2">Client</label>
      <select class="form-control m-2" formControlName="client">
        <option value="" disabled selected class="hide">Select Client</option>
        <option *ngFor="let client of clientData" [ngValue]="client">
          {{ client.firstName }}
        </option>
      </select>
      <label class="ms-2">Technologies</label>
      <select class="form-control m-2" formControlName="technologies">
        <option value="" disabled selected class="hide">
          Select technologies
        </option>
        <option *ngFor="let client of technology" [value]="client">
          {{ client }}
        </option>
      </select>
      <label class="ms-2">Taget Date</label>
      <input class="form-control m-2" type="date" formControlName="targetDate" />
      <label class="ms-2">Description</label>
      <textarea class="form-control m-2" placeholder="description" formControlName="description"></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="createTicket(d)">
      Create Ticket
    </button>
    <button class="btn btn-sm btn-danger" (click)="cancel(d)">Cancel</button>
  </div>
</ng-template>

<!-- Add Client -->

<ng-template #clientModel let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">{{ modelHeader }}</h4>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-md-12">
              <div class="form-group" [formGroup]="clientForm">
                  <input type="text" placeholder="First name" class="form-control m-2" formControlName="name" />
                  <input type="text" placeholder="Location" class="form-control m-2" formControlName="location">
              
                  <input type="email" placeholder="Email" class="form-control m-2" formControlName="email" />
                  <input type="number" placeholder="Phone number" class="form-control m-2" formControlName="mobile" />
                  <input type="text" placeholder="Technologies" class="form-control m-2"
                      formControlName="technologies" />
                  <input type="text" placeholder="ApplicationType" class="form-control m-2"
                      formControlName="applicationType" />
                  <input type="text" placeholder="CompanyName" class="form-control m-2"
                      formControlName="companyName" />
              </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-sm btn-danger" (click)="cancel(d)">Cancel</button>
      <button class="btn btn-sm btn-primary" (click)="newClient(d)" *ngIf="modelHeader === 'Add New Client'">
          Add New Client
      </button>
  </div>
</ng-template>
<!-- requestTicket modal -->
<ng-template #requestTicketmodal let-d="dismiss">
  <div class="modal-header p-2 m-0"></div>
  <div class="modal-body m-2">
    <form [formGroup]="requestticketForm">
      <label class="ms-2">Request All</label>
      <textarea class="form-control m-2" placeholder="description" formControlName="request"></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" (click)="adminCancel(d)">
      Cancel
    </button>
    <button class="btn btn-sm btn-primary" (click)="adminMessage(d)">
      Adminsend
    </button>
  </div>
</ng-template>
