.hide {
  display: none;
}

.logout-button {
  margin-top: 10px;
  display: flex;
  margin-right: 23px;
  justify-content: flex-end;
}

.admindrop {
  display: flex;
  justify-content: flex-end;
  margin: 14px 10px;
}

.admin-content {
  width: 50%;
  justify-content: space-around;
}

.adminMain {
  box-shadow: 0 0 5px 0;
  margin: 5px;
  border-radius: 5px;
}

.piechart-container {
  width: 50%;
  justify-content: space-around;
}

.pieChart {
  > div {
    ::ng-deep .chart-container {
      display: flex;
      .chart-legend {
        display: block;
        padding: 10px;
        .grid-item {
          text-align: start;
          padding: 5px;
        }
      }
    }
  }
}

.progress {
  width: 200px;
}

.adminpic {
  width: 100px;
  height: 100px;
}

.admin-page {
  width: 100%;
  margin: 5px;

  img {
    border-radius: 52px;
    margin: 10px;
  }
}

.ErrorMsg {
  color: red;
}

textarea {
  width: 100%;
  height: 300px;
}

.successMsg {
  span {
    background-color: yellow;
    padding: 2px;
  }
}

.timezone {
  display: flex;
  gap: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;

  .countryTime {
    width: 144px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-weight: bold;
    }

    // border: 1px solid;
    height: 134px;
    border-radius: 50%;
    box-shadow:
      inset 8px 8px 8px #cbced1,
      inset -8px -8px 8px #e7cfcf;

    p {
      margin: 9px;
      font-weight: 550;

      span {
        display: block;
      }
    }
  }
}

.online {
  display: block;
  margin-top: 10px;
  height: 14px;
  width: 15px;
  background: green;
  border-radius: 50%;
  cursor: pointer;
}

.sample:active {
  background-color: green;
  border: 0;
  color: #fff;
}

.usersDetails {
  font-size: 16px;
  font-weight: 500;
}
