<h1>View Request Page!</h1>
<div class="Main-ViewRequest">
  <div class="ChatRequest position-relative">
    <h1>Chat Request</h1>
    <ol>
      <li *ngFor="let chatrequest of ChatRequest; let i = index">
        <div>
          <p>
            {{ chatrequest.sender.name }} Is Requisting To Chat With
            {{ chatrequest.opponent.name }}
            {{chatrequest.time}}
            {{chatrequest.date}}
          </p>
          <div *ngIf="chatrequest.isPending == true" class="isPending">
            <button
              class="btn btn-sm btn-success"
              (click)="approveUserChatRequest(chatrequest)"
            >
              Give Access
            </button>
          </div>

          <div *ngIf="chatrequest.isPending == false">
            <h2>Approved</h2>
          </div>
        </div>
      </li>

      <ngx-spinner
        bdColor="rgba(0,0,0,0.32)"
        size="large"
        color="#8652d5"
        type="ball-clip-rotate-multiple"
        [fullScreen]="false"
      >
      </ngx-spinner>
    </ol>
  </div>
  <div class="TicketREquest position-relative">
    <h1>Ticket Request</h1>
    <ol>
      <li *ngFor="let ticketrequest of TicketRequest; let i = index">
        <div>
          <p>
            {{ ticketrequest.sender.name }} Is Requisting For
            {{ ticketrequest.client.name }}
            {{ticketrequest.time}}
            {{ticketrequest.date}}
          </p>
          <div *ngIf="ticketrequest.isPending == true" class="isPending">
            <button
              class="btn btn-sm btn-success"
              (click)="approveUserTicketRequest(ticketrequest)"
            >
              Give Access
            </button>
          </div>

          <div *ngIf="ticketrequest.isPending == false">
            <h2>Approved</h2>
          </div>
        </div>
      </li>

      <ngx-spinner
        bdColor="rgba(0,0,0,0.32)"
        size="large"
        color="#8652d5"
        type="ball-clip-rotate-multiple"
        [fullScreen]="false"
      >
      </ngx-spinner>
    </ol>
  </div>
</div>
