<div
  *ngIf="
    getMessageType(message.type) === 'image/png' ||
    getMessageType(message.type) === 'image/jpeg'
  "
  (click)="downloadFile($event, url, message.content)"
>
  <img [src]="url" *ngIf="url" />
</div>
<div class="SendUser" *ngIf="message.type === 'contact'">
  <p>
    <span> {{ FileContact.name }}</span>
    <span> {{ FileContact.mobile }}</span>
  </p>
</div>
<div
  *ngIf="getMessageType(message.type) === 'application/pdf'"
  (click)="downloadFile($event, url, message.content)"
>
  <iframe [src]="safeurl" width="100%" title="PDF Viewer"></iframe>
</div>
